@import '../node_modules/foundation-sites/scss/global';

.top-bar, .top-bar ul {
	background: scale-color($primary-color, $lightness: -45%);
	padding-left: 0;

	.menu-text {
		color: $white;
	}

	a {
		color: scale-color($primary-color, $lightness: 35%);

		&:hover {
			color: scale-color($primary-color, $lightness: 65%);			
		}
	}
}
#titlebar {
	height: 54px;
	background: scale-color($primary-color, $lightness: -25%);
	padding: 5px 15px;
	color: $white;

	p {
		font-size: 1.25em;
		line-height: 44px;
		margin: 0;
	}
	& > div {
		float: left;
		margin-right: 2em;
	}
	span.label {
		vertical-align: middle;
	}
	i {
		color: rgba(255,255,255,0.7);
		cursor: pointer;

		&:hover {
			color: $white;
		}
	}
}

#mailbuilder-list {
	float: left; 
	width: 440px; 
	height: calc(100% - 54px - 54px); 
	display: flex; 
	flex-direction: column; 
	align-items: stretch;
}

#mailbuilder-tabs {
	float: right; 
	width: calc(100% - 440px); 
	display: flex; 
	flex-direction: column; 
	height: calc(100% - 54px - 54px);
}

@media (min-width: 1100px) {
	#mailbuilder-list {
		width: 40%;
	}
	#mailbuilder-tabs {
		width: 60%;
	}
}

.tabs {
	flex: none;
}

.tabs-title {
	
	i {
		font-size: 1.75em;
		vertical-align: middle;
		margin: 0 0.5em 0 0;
	}
}

.tabs-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 0;

	& > .tabs-panel.is-active {
		flex-grow: 1;
		display: flex;
		padding: 0;
	}
}

.tabs-panel-inner {
	padding: 1em; 
	overflow-y: scroll; 
	width: 100%;
}

#toolbox {

	button {
		margin: 0 5px 5px 0;
	}
}

#preview {
	height: 100%;
	flex-grow: 1;
	flex-direction: column;
}

#iframe {
	width: 100%;
	overflow: scroll;
	border: 0;
	flex-grow: 1;
}

textarea#code {
	height: calc(100vh - 108px - 63px);
	margin: 0;
	font: 12px/1.2em monospace;
	background: #333333;
	color: #eee;
}

#list {
	flex-grow: 1;
	overflow-y: scroll;
	padding: 1em;
	position: relative;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;

		li {
			margin-bottom: 2px;
		}
	}
}

div.component_controls {
	padding: 0.5em;
	background: $primary-color;
	color: #fff;

	i {
		font-size: 24px;
		line-height: 24px;
		color: rgba(255,255,255,0.7);

		&:hover {
			color: $white;
		}
	}
}

li.no_input {

	div.component_controls {
		background: $light-gray;
		color: #454545;
	}
}

li.has_inputs {

	div.component_controls {
		cursor: pointer;
		
		&:hover {
			background: scale-color($primary-color, $lightness: -25%);
		}
	}
}

div.component_data {
	padding: 0.5em;
	background: #f0f0f0;
	display: none;

	input, textarea {
		width: 100%;
		font: inherit;
		padding: 1px 3px;
		margin-bottom: 5px;
		font-size: 0.8rem;
		height: 1.8rem;
	}
	textarea {
		height: 120px;

		[name=code] {
			font-family: monospace;
		}
	}
}

a.convert-html {
	margin: 0;
}

i.fi-x {
	float: right;
	cursor: pointer;
}

i.fi-list {
	margin-right: 5px;
	padding: 0 5px;
	cursor: move;
	float: left;
}

span.peek {
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    margin-left: 10px;
    font-size: 0.8em;
    line-height: 1.6rem;
    font-style: italic;
}

span.component_name {
    float: left;
    font-weight: bold;
}

body.dragging, body.dragging * {
	cursor: move;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

li.placeholder {
	position: relative;
	margin: 0;
	padding: 0;
	height: 42px;
	border: 2px dashed #E7C6C6;
}

#email_viewer {
    display: flex;
    height: calc(100% - 54px - 54px);
}

#folder_list {
    width: 200px;
    flex: none;
    border-right: 4px solid $medium-gray;
}

#email_list {
    width: 350px;
    overflow-y: scroll;
    border-right: 4px solid $medium-gray;

    & > div input {
		margin: 0;
		padding: 5px 15px;
		height: auto;
		font-size: 1em;
		line-height: inherit;
		background: #666;
		color: #eee;
	}
}

#email_preview {
    flex-grow: 1;
    display: flex;

    iframe {
		width: 100%;
		overflow: scroll;
		border: 0;
		flex-grow: 1;
	}
}

#folder_list ul, #email_list ul {
    list-style: none;
    margin: 0;

    li > a {
		padding: 5px 15px;
		border-bottom: 1px solid #f0f0f0;
		display: block;
		color: #333333;

		&:hover {
			color: $primary-color;
		}

		&.active {
			color: $white;
			background-color: $primary-color;
		}
    }
}

.email_options {
    padding: 5px 15px;
    border-bottom: 1px solid #f0f0f0;
    display: none;

    a.button {
		margin: 0 1px 0 0;
		padding: 0.625rem 1rem;
    }
}